[submodule "AhoEngine/Vendor/spdlog"]
	path = AhoEngine/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "AhoEngine/Vendor/glm"]
	path = AhoEngine/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "AhoEngine/Vendor/Assimp"]
	path = AhoEngine/Vendor/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "AhoEngine/Vendor/assimp/assimp"]
	path = AhoEngine/Vendor/assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "AhoEngine/Vendor/JoltPhysics"]
	path = AhoEngine/Vendor/JoltPhysics
	url = https://github.com/z2t2z/JoltPhysics.git
[submodule "AhoEngine/Vendor/imgui"]
	path = AhoEngine/Vendor/imgui
	url = https://github.com/z2t2z/imgui.git
[submodule "AhoEngine/Vendor/assimp"]
	path = AhoEngine/Vendor/assimp
	url = https://github.com/z2t2z/assimp.git
[submodule "AhoEngine/Vendor/glfw"]
	path = AhoEngine/Vendor/glfw
	url = https://github.com/z2t2z/glfw.git
[submodule "AhoEngine/Vendor/ImGuizmo"]
	path = AhoEngine/Vendor/ImGuizmo
	url = https://github.com/z2t2z/ImGuizmo.git
[submodule "AhoEngine/Vendor/gli"]
	path = AhoEngine/Vendor/gli
	url = https://github.com/z2t2z/gli.git
